In [1]:
import pandas as pd
import os

In [2]:
freedom = "Clean Data/CleanFreedom.csv"
suicide = "Clean Data/CleanSuicide.csv"
happiness = "Clean Data/CleanHappiness.csv"
fifa = "Clean Data/CleanFifa.csv"

In [3]:
freedom_pd = pd.read_csv(freedom)
suicide_pd = pd.read_csv(suicide)
happiness_pd = pd.read_csv(happiness)
fifa_pd = pd.read_csv(fifa)

In [4]:
fifa_pd_col = fifa_pd[['rank','country_full','total_points']]
fifa_pd_col.columns = ['rank', 'Country','Total Points']
fifa_pd_col.head()

   rank    Country  Total Points
0     1  Argentina       1634.02
1     2     Brazil       1544.05
2     3    Germany       1432.54
3     4      Chile       1403.96
4     5    Belgium       1367.77

In [22]:
freedom_suicide_pd = pd.merge(freedom_pd,suicide_pd, on='Country', how='outer')
happiness_freedom_suicide_pd = pd.merge(freedom_suicide_pd, happiness_pd, on='Country', how='outer')
happiness_freedom_suicide_pd.columns = ['Country', 'Freedom Score', 'Freedom Rank', 'Suicide Rate per 100k', 'Happiness Rank','Happiness Score']
happiness_freedom_suicide_fifa = pd.merge(happiness_freedom_suicide_pd, fifa_pd_col, on='Country',how='outer')
happiness_freedom_suicide_fifa.columns = ['Country', 'Freedom Score', 'Freedom Rank', 'Suicide Rate per 100k', 'Happiness Rank','Happiness Score', 'Fifa Rank','Fifa Total Points']
happiness_freedom_suicide_fifa.to_csv('Raw Data/DirtyMerged.csv')
null_data = happiness_freedom_suicide_fifa[happiness_freedom_suicide_fifa.isnull().any(axis=1)]
null_data = null_data.reset_index(drop=True)
null_data['Country'].replace(
                  {"CÃƒÂ´te d'Ivoire":"Ivory Coast",
                   "Cote d'Ivoire":"Ivory Coast",
                   "CÃ´te d'Ivoire":"Ivory Coast",
                   "China PR":"China",
                   "IR Iran":"Iran",
                   "Iran (Islamic Republic of)":"Iran",
                   "Congo, Dem. R.":"Congo DR",
                   "Democratic Republic of the Congo":"Congo DR",
                   "Congo (Kinshasa)":"Congo DR",
                   "Congo (Brazzaville)":"Republic of the Congo",
                   "Congo, Rep. Of":"Republic of the Congo",
                   "Congo":"Republic of the Congo",
                   "Czech Rep.":"Czech Republic",
                   "Czechia":"Czech Republic",
                   "Venezuela (Bolivarian Republic of)":"Venezuela",
                   "United States":"United States of America",
                   "USA":"United States of America",
                   "United Kingdom of Great Britain and Northern Ireland":"United Kingdom",
                   "England":"United Kingdom",
                   "Dominican Rep.":"Dominican Republic",
                   "Bolivia (Plurinational State of)":"Bolivia",
                   "Democratic People's Republic of Korea":"North Korea",
                   "Korea DPR":"North Korea",
                   "Korea, South":"South Korea",
                   "Republic of Korea":"South Korea",
                   "Korea Republic":"South Korea",
                   "Pap. New Guinea":"Papua New Guinea",
                   "Viet Nam":"Vietnam",
                   "Yemen, Rep.":"Yemen",
                   "United Republic of Tanzania":"Tanzania",
                   "Syrian Arab Republic":"Syria",
                   "Russian Federation":"Russia",
                   "Republic of Ireland":"Ireland",
                   "Central Afr. Rep.":"Central African Republic",
                   "Cabo Verde":"Cape Verde",
                   "Cape Verde Islands":"Cape Verde",
                   "Gambia, The":"Gambia",
                   "Kyrgyz Republic":"Kyrgyzstan",
                   "Lao People's Democratic Republic":"Laos",
                   "Chinese Taipei":"Taiwan",
                   "Republic of Moldova":"Moldova",
                   "Republic of North Macedonia":"Macedonia",
                   "FYR Macedonia":"Macedonia"}, value=None, inplace=True)
null_data = null_data.groupby('Country')[['Freedom Score', 'Freedom Rank', 'Suicide Rate per 100k', 'Happiness Rank','Happiness Score','Fifa Rank','Fifa Total Points']].first()
null_data = null_data.reset_index()
null_data = null_data.dropna()
null_data

,Country,Freedom Score,Freedom Rank,Suicide Rate per 100k,Happiness Rank,Happiness Score,Fifa Rank,Fifa Total Points
9,Bolivia,6.718385,92.0,12.9,59.0,5.822,95.0,358.52
15,China,5.905410,135.0,8.0,83.0,5.245,82.0,426.52
17,Congo DR,5.308628,151.0,9.7,125.0,4.272,48.0,638.43
21,Czech Republic,8.294881,21.0,10.5,27.0,6.596,43.0,671.35
25,Dominican Republic,7.061287,69.0,10.5,89.0,5.155,128.0,241.65
38,Iran,5.281225,153.0,4.0,105.0,4.813,29.0,814.49
39,Ireland,8.504565,8.0,10.9,19.0,6.907,23.0,857.64
43,Kyrgyzstan,6.588506,99.0,9.1,85.0,5.185,122.0,265.27
44,Laos,6.386793,113.0,9.3,102.0,4.876,167.0,133.94
48,Macedonia,7.271829,56.0,6.2,95.0,5.121,162.0,142.19
51,Moldova,6.849515,75.0,13.4,55.0,5.897,164.0,137.65
63,Republic of the Congo,5.898934,136.0,9.3,127.0,4.236,70.0,504.11
64,Russia,6.272191,119.0,26.5,56.0,5.856,56.0,591.98
77,South Korea,8.148175,27.0,20.2,57.0,5.835,37.0,699.47
83,Syria,3.765827,162.0,2.4,156.0,3.069,96.0,354.88
87,Tanzania,6.523209,102.0,9.6,149.0,3.666,156.0,153.61
93,United Kingdom,8.497918,8.0,7.6,23.0,6.725,13.0,1114.45
94,United States of America,8.388655,17.0,13.7,13.0,7.104,28.0,822.00
97,Venezuela,4.200724,161.0,3.8,44.0,6.084,59.0,580.98
98,Vietnam,6.194004,124.0,7.0,96.0,5.061,134.0,217.75
100,Yemen,4.253278,160.0,9.8,147.0,3.724,148.0,184.14

In [1]:
freedom_suicide_pd = pd.merge(freedom_pd,suicide_pd, on='Country', how='inner')
happiness_freedom_suicide_pd = pd.merge(freedom_suicide_pd, happiness_pd, on='Country', how='inner')
happiness_freedom_suicide_pd.columns = ['Country', 'Freedom Score', 'Freedom Rank', 'Suicide Rate per 100k', 'Happiness Rank','Happiness Score']
happiness_freedom_suicide_fifa = pd.merge(happiness_freedom_suicide_pd, fifa_pd_col, on='Country',how='inner')
happiness_freedom_suicide_fifa.columns = ['Country', 'Freedom Score', 'Freedom Rank', 'Suicide Rate per 100k', 'Happiness Rank','Happiness Score', 'Fifa Rank','Fifa Total Points']
clean_merge_df = pd.concat([happiness_freedom_suicide_fifa, null_data])
clean_merge_df = clean_merge_df.reset_index(drop=True)
clean_merge_df.to_csv('Clean Data/CleanMerge.csv')
clean_merge_df

NameError: name 'pd' is not defined