In [1]:
import pandas as pd

In [2]:
csv_path = "Raw Data/happinessrank.csv"
happiness_df = pd.read_csv(csv_path)
happiness_df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [3]:
happiness_df = happiness_df.drop(columns =['Lower Confidence Interval', 'Upper Confidence Interval',
                                          'Economy (GDP per Capita)','Family','Health (Life Expectancy)',
                                          'Freedom','Trust (Government Corruption)','Generosity','Dystopia Residual'])

In [5]:
happiness_df = happiness_df.drop(columns = ['Region'])

In [11]:
happiness_df = happiness_df.set_index('Country')

In [12]:
happiness_df

                      Happiness Rank  Happiness Score
Country
Denmark                            1            7.526
Switzerland                        2            7.509
Iceland                            3            7.501
Norway                             4            7.498
Finland                            5            7.413
Canada                             6            7.404
Netherlands                        7            7.339
New Zealand                        8            7.334
Australia                          9            7.313
Sweden                            10            7.291
Israel                            11            7.267
Austria                           12            7.119
United States                     13            7.104
Costa Rica                        14            7.087
Puerto Rico                       15            7.039
Germany                           16            6.994
Brazil                            17            6.952
Belgium                           18            6.929
Ireland                           19            6.907
Luxembourg                        20            6.871
Mexico                            21            6.778
Singapore                         22            6.739
United Kingdom                    23            6.725
Chile                             24            6.705
Panama                            25            6.701
Argentina                         26            6.650
Czech Republic                    27            6.596
United Arab Emirates              28            6.573
Uruguay                           29            6.545
Malta                             30            6.488
...                              ...              ...
Senegal                          128            4.219
Bulgaria                         129            4.217
Mauritania                       130            4.201
Zimbabwe                         131            4.193
Malawi                           132            4.156
Sudan                            133            4.139
Gabon                            134            4.121
Mali                             135            4.073
Haiti                            136            4.028
Botswana                         137            3.974
Comoros                          138            3.956
Ivory Coast                      139            3.916
Cambodia                         140            3.907
Angola                           141            3.866
Niger                            142            3.856
South Sudan                      143            3.832
Chad                             144            3.763
Burkina Faso                     145            3.739
Uganda                           145            3.739
Yemen                            147            3.724
Madagascar                       148            3.695
Tanzania                         149            3.666
Liberia                          150            3.622
Guinea                           151            3.607
Rwanda                           152            3.515
Benin                            153            3.484
Afghanistan                      154            3.360
Togo                             155            3.303
Syria                            156            3.069
Burundi                          157            2.905

[157 rows x 2 columns]

In [14]:
happiness_df.to_csv("CleanHappiness.csv")